<div class="chatbox">
    <div class="chatbox-header">
        <div class="chatbox-avatar">Avatar</div>
        <div class="chatbox-info">
            <div class="chatbox-name">
                <% if @chatroom.chatroom_type == "chat" %>
                    <% other_user = @chatroom.users.where.not(id: current_user.id).first %>
                    <%= other_user.username %>
                <% else %>
                    <%= @chatroom.name %>
                <% end %>
            </div>
            <div class="chatbox-tag">
                <% if @chatroom.chatroom_type == "chat" %>
                    <% if current_user.is_friend_with?(other_user) %>
                        <% other_user = @chatroom.users.where.not(id: current_user.id).first %>
                        <% friendship = Friendship.find_by(receiver_id: current_user.id, sender_id: other_user.id, status: "accepted")
                            .or(Friendship.find_by(receiver_id: other_user.id, sender_id: current_user.id, status: "accepted")).first %>
                        <h6>Friend since <%= friendship.updated_at.to_date %></h6>
                    <% else %>
                        <h6>Stranger</h6>
                    <% end %>
                <% else %>
                    <h6><%= @chatroom.users.count %> member(s)</h6>
                <% end %>
            </div>
        </div>
    </div>
    <div class="chatbox-display">
        <% @messages.each do |message| %>
            <%= render 'messages/message', obj: message %>
            <% @last_sender = message.user_id %>
        <% end %>
    </div>
    <div class="chatbox-input">
        Hehe
    </div>
</div>