<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <%= form_with(model:@user,class:"shadow p-3 mb-3 bg-success rounded",local:true, data:{turbo: false}) do |form| %>
                <div class="form-group row mb-2">
                    <%= form.label :email, class:"col-2 col-form-label text-light"%>
                    <div class="col-10">
                        <%= form.text_field :email, class: "form-control shadow rounded p-2", placeholder:"Enter email" %>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <%= form.label :username, class:"col-2 col-form-label text-light"%>
                    <div class="col-10">
                        <%= form.text_field :username, class: "form-control shadow rounded p-2", placeholder:"Enter username" %>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <%= form.label :telephone, "Phone number", class:"col-2 col-form-label text-light"%>
                    <div class="col-10">
                        <%= form.text_field :telephone, class: "form-control shadow rounded p-2", placeholder:"Enter phone number" %>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <%= form.label :password, class:"col-2 col-form-label text-light"%>
                    <div class="col-10">
                        <%= form.text_field :password, class: "form-control shadow rounded p-2", placeholder:"Enter password" %>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <%= form.label :password_confirmation, "Confirm password", class:"col-2 col-form-label text-light"%>
                    <div class="col-10">
                        <%= form.text_field :password_confirmation, class: "form-control shadow rounded p-2", placeholder:"Confirm password" %>
                    </div>
                </div>
                <div class = "form-group d-flex justify-content-center">
                    <%= form.submit(@user.new_record? ? "Create account" : "Save Changes", class: "btn btn-warning btn-lg") %>
                </div>
            <% end %>
        </div>
        <div class="text-center">
            <%= link_to "Cancel and return to Home Page", root_path, class: "btn btn-secondary" %>
        </div>
    </div>
</div>